:host {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 24px;
}

:h1 {
  font-size: 24px;
}

:h2 {
  font-size: 20px;
}

:h3 {
  font-size: 18px;
}

:h4 {
  font-size: 16px;
}

:h5 {
  font-size: 14px;
}

:h6 {
  font-size: 12px;
}

p[color="white"]{
  color: white;
}

p[color="black"]{
  color: black;
}